<!DOCTYPE html>
<html>
<head>
    <style>
        form{border:1px black solid}
    </style>
</head>

<body>
    <h1>Registration</h1>
    <form method="post" action="">
        <div>Name:</div>
        <input type="text" name="name" />
        <div>Email:</div>
        <input type="email" name="email" />
        <br />
        <br />
        <input type="submit" value="Submit"/>
    </form>
</body>
</html>